* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  color: #fff;
}
/* Header Area */
header {
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 10px 8%;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.lang {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 10px;
  border: 0;
  border-radius: 4px;
}
div button {
  border: 0;
  background-color: #db0001;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
}
.lang i:nth-child(1) {
  margin-right: 8px;
}
.lang i:nth-child(2) {
  margin-left: 5px;
}

/* Content area */
.add-mail {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.add-mail input {
  border: 0;
  outline: 0;
  flex: 1;
  margin-left: 20px;
}
.add-mail button {
  border: 0;
  background-color: #db0001;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

/* Responsible Header area */
@media only screen and (max-width: 768px) {
  .logo {
    font-size: 20px;
  }
  nav button {
    padding: 5px 10px;
  }
  .lang {
    padding: 4px 8px;
  }
  .header-content {
    width: 90%;
  }
  .header-content h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .header-content h3 {
    font-size: 20px;
  }
  .add-mail button {
    font-size: 12px;
    padding: 10px 15px;
  }
}
